{% extends 'base.html.twig' %}



{% block body %}
    <h4 style="text-align:center;">Pour pouvoir aider les autres, il faut avoir soi-même ce sentiment que les autres ont besoin de vous....</h4>
    <hr>
    {% for sujet in sujets %}
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <h2>{{ sujet.title }} </h2>
                    <div class="metadata">
                        Ecrit le {{ sujet.createdAt |date('d/m/y') }} à {{ sujet.createdAt | date('h:i') }}  <strong>{{ sujet.user.username |upper }}</strong> qui fait la
                        <strong>{{ sujet.niveau.libelle |upper }}</strong>
                    </div>
                    <hr>
                    <p> <strong>Description:</strong>{{ sujet.description | raw}}</p>

                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">

                    <div class="content">
                        <img src="{{ sujet.image }}" class="img-responsive" alt="">
                    </div>

                    <a href="{{ path('show_sujet', {'id': sujet.id}) }}" class="btn btn-success">Lire la suite</a>
                </div>
            </div>
            <hr>
    {% endfor %}




    {% endblock %}
